[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "2.0.36"
psycopg2-binary = "2.9.9"
grpcio = "1.63.0"
grpcio-tools = "1.63.0"

[dev-packages]

[requires]
python_version = "3.12"
